.modal {
	display: none;
	position: relative;
	padding: 35px 0 40px;
	min-height: 400px;
	color: $text-color;
	background: #f2f2f2;
	width: 380px;

	&__title {
		font-weight: 700;
		font-size: 19px;
		line-height: 19px;
		text-align: center;
		color: inherit;
	}
	&__subtitle {
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		color: inherit;
		text-align: center;

		margin-top: 10px;
	}
	&__form {
		margin: 0 auto;
		width: 300px;
		margin-top: 25px;
	}
	&__close {
		width: 21px;
		height: 21px;
		font-size: 42px;
	}
	&_active {
		display: block;
	}
	&__message {
		padding: 0 20px;

		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		color: inherit;
		text-align: center;

		margin-top: 10px;
	}
}

.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);
	&_active {
		display: flex;
	}
}

.cross {
	position: absolute;
	top: 0px;
	right: -40px;
	width: 21px;
	height: 21px;
	background: url(../icons/cross.png);
	border: none;
}
